{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Login
{% endblock %}

{% block styles %}
<style>
.box {
    width: 500px;
    margin: 200px 0;
}


.shape1{
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #0074d9;
    border-radius: 80px;
    float: left;
    margin-right: -50px;
}
.shape2 {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #0074d9;
    border-radius: 80px;
    margin-top: -30px;
    float: left;
}
.shape3 {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #0074d9;
    border-radius: 80px;
    margin-top: -30px;
    float: left;
    margin-left: -31px;
}
.shape4 {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #0074d9;
    border-radius: 80px;
    margin-top: -25px;
    float: left;
    margin-left: -32px;
}
.shape5 {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #0074d9;
    border-radius: 80px;
    float: left;
    margin-right: -48px;
    margin-left: -32px;
    margin-top: -30px;
}
.shape6 {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #0074d9;
    border-radius: 80px;
    float: left;
    margin-right: -20px;
    margin-top: -35px;
}
.shape7 {
    position: relative;
    height: 150px;
    width: 150px;
    background-color: #0074d9;
    border-radius: 80px;
    float: left;
    margin-right: -20px;
    margin-top: -57px;
}
.float {
    position: absolute;
    z-index: 2;
}

.form {
    margin-left: 145px;
}

.button1 {width:  100px;
color:blue;
  border: none;
    background-color: white;
     font-size: 16px;

}
.fontss{  font-size: 14px;
color:white;
}


.fontss{  font-size:13px;
}
.backg {

  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);


}



</style>
{{super()}}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


{% endblock %}

{% block content %}
<div class="container   backg">

    <div id="login-row" class="row justify-content-center align-items-center">


        <div id="login-column" class="col-md-6">


            <div class="box backg ">

                <div class="shape1"></div>
                <div class="shape2"></div>
                <div class="shape3"></div>
                <div class="shape4"></div>
                <div class="shape5"></div>
                <div class="shape6"></div>
                <div class="shape7"></div>
                <div class="float">


                    <form class="form" method="POST" action="/adminlog">
                        <label class="text-white">
                            <h2 class="form-signin-heading">Personal - sign in</h2>
                            {{ form.hidden_tag() }}
                            {{ wtf.form_field(form.username) }}
                            {{ wtf.form_field(form.password) }}
                            {{ wtf.form_field(form.remember) }}


                            <div class="row">
                                <div class="form-group">
                                    &nbsp;&nbsp;
                                    <button class="btn btn-info btn-md" type="submit">&nbsp;&nbsp;&nbsp;&nbsp;Sign in&nbsp;&nbsp;&nbsp;&nbsp;
                                    </button>
                                </div>
                                <div class="form-group">
                                    <a class="fontss" href="{{ url_for('login') }}">&nbsp;&nbsp;user login ?</a>

                                </div>
                            </div>
                    </form>

                </div> <!-- /container -->
                {% endblock %}
